<?xml version="1.0"?>
<model>
  <name>3DR Iris with lidar and vision detecting a moving target on a ship</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_marker_on_ship.sdf</sdf>

  <author>
   <name>Kevindehecker</name>
   <email></email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with lidar and marker dectector through a companion computer, the marker is on a moving and rocking ship.
  </description>
</model>
